@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;800&display=swap');

button {
  margin: 15px;
  padding: 15px;
  background: linear-gradient(90deg, #fec303 0%, #f70b91 100%);
  width: 267px;
  height: 60px;
  font-family: 'Bruno Ace SC';
  font-size: 20px;
  font-weight: 400;
  color: white;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }

  &.inverted {
    background: transparent;
    border: 2px solid;
    // border-image: linear-gradient(to right, #fec303, #f70b91) 2;
    border: 2px solid #f70b91;
    border-radius: 10px;
  }
}

a {
  text-decoration: none;
}

.wrapper {
  background: url('../assets/images/bg.jpg'), #170034;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;

  &.secondary {
    background: #170034;
  }

  .container {
    width: 80%;
    display: flex;
    margin-top: 30px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .marketplaceBlock {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      .list_block {
        width: 300px;
        height: 380px;
        border: 2px solid #c6c6c6;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        margin: 20px;
        overflow: hidden;
        background: linear-gradient(to top, var(--color), var(--color2));

        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: -50px;
          left: -100px;
          width: calc(100% + var(--width));
          height: calc(100% + var(--width));
          border-radius: 500px;
          border: 2px solid var(--color);
          transform: translate(var(--width)) rotate(var(--deg));
        }

        &::after {
          content: '';
          position: absolute;
          top: var(--height);
          left: var(--width);
          width: calc(100% + var(--width));
          height: calc(80% + var(--height));
          border-radius: 50%;
          background: linear-gradient(to bottom, var(--color), var(--color2));
          transform: translate(var(--width)) rotate(var(--deg));
        }

        .circle {
          position: absolute;
          bottom: 0;
          left: 0;
          border-radius: 500px;
          border: 2px dashed rgba(255, 255, 255, 0.3);
          z-index: 100;
          min-width: 100px;
          min-height: 100px;
        }

        .circle:nth-child(1) {
          width: var(--height);
          height: var(--height);
          left: var(--width);
          top: var(--height);
          transform: translate(var(--width)) scale(0.8);
        }

        .circle:nth-child(2) {
          width: var(--height);
          height: var(--height);
          top: calc(10% - var(--height));
          left: calc(10% + var(--height));
          transform: translate(var(--height)) scale(1.2);
        }

        .imageBlock {
          width: 100%;
          height: 50%;
          border: none;
          border-radius: 20px;
          overflow: hidden;

          .overlay {
            width: 100%;
            height: 100%;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .infoBlock {
          width: 90%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          z-index: 100;

          .concertName {
            text-align: center;
            color: white;
            font-family: 'Bruno Ace SC';
            font-weight: 400;
            font-size: 24px;
          }

          .concertDate {
            color: #c6c6c6;
            font-size: 16px;
          }

          .priceBlock {
            display: flex;
            flex-direction: row;
            align-items: center;

            p {
              font-family: 'Montserrat';
              font-weight: 400;
              font-size: 18px;
              color: #fff;
              margin: 0 10px;
            }

            button {
              width: 130px;
              height: 43px;
              padding: 0;
              border: 2px solid #fff;
              font-family: 'Montserrat';
              letter-spacing: 1px;
            }
          }
        }
      }
    }

    .camera {
      width: 600px;
    }

    nav {
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .breadcrumbs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .crumb {
          text-decoration: none;
          font-size: 24px;
          margin-left: 15px;

          a {
            color: #c6c6c6;
            font-family: 'Bruno Ace SC';

            &::before {
              content: '> ';
            }
          }
        }

        .logo {
          font-family: 'Bruno Ace SC';
          font-weight: 400;
          font-size: 36px;
          line-height: 43px;
          background: linear-gradient(90deg, #fec303 0%, #f70b91 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    .rightPanel {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: flex-end;
      margin: 30px 0;

      h2 {
        text-align: right;
      }

      button {
        margin-right: 0;
      }
    }

    .buttons {
      margin-left: -15px;
    }

    h1 {
      font-size: 96px;
      font-family: 'Bruno Ace SC';
      margin-bottom: 20px;
      margin-top: 100px;
      line-height: 116px;
      letter-spacing: 2px;
      z-index: 11;
    }

    h2 {
      width: 60%;
      // font-family: 'Montserrat', sans-serif;
      font-family: Arial, Helvetica, sans-serif;
      text-align: left;
      font-weight: 400;
      font-size: 24px;
      color: #c6c6c6;
    }

    .howItWorks {
      margin-top: 100px;
      width: 100%;
      font-size: 60px;
      font-weight: 800;
      color: transparent;
      text-transform: uppercase;
      -webkit-text-stroke: 1px #f94167;
      text-stroke: 1px #f94167;

      &.center {
        text-align: center;
        -webkit-text-stroke: 1px #fec303;
        text-stroke: 1px #fec303;
      }
    }

    .forWhat {
      width: 100%;
      text-align: left;
      font-size: 48px;
      font-weight: 600;
      color: white;
      // color: transparent;
      text-transform: uppercase;
      // -webkit-text-stroke: 1px #fec303;
      // text-stroke: 1px #fec303;

      &.right {
        text-align: right;
      }
    }

    .eventForm {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .infoBlock {
      font-family: 'Montserrat';

      .icoName {
        display: grid;
        grid-template-columns: 1fr 4fr;
        justify-items: center;
        align-items: center;
        animation: viewImg 1s;

        .light {
          position: relative;
          opacity: 0;

          &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 0 0 30px 20px rgba(255, 255, 255, 0.5);
            border-radius: 50px;
            z-index: 0;
          }

          &.active {
            opacity: 1;
            animation: viewImg 0.7s;
          }
        }

        img {
          opacity: 0;

          &.active {
            opacity: 1;
            animation: viewImg 1s;
          }
        }

        h2 {
          width: 100%;
          text-align: left;
          font-size: 36px;
          color: transparent;
          font-weight: 800;
          margin: 15px 0;
          letter-spacing: 1.5px;
          text-transform: uppercase;
          -webkit-text-stroke: 1px #fec303;
          text-stroke: 1px #fec303;
          // animation: textRight 1s;
          opacity: 0;
          overflow: hidden;

          &.active {
            opacity: 1;
            animation: textRight 0.7s;
          }
        }

        &.right {
          grid-template-columns: 4fr 1fr;

          h2 {
            text-align: right;
          }
        }
      }

      .linearTree {
        display: grid;
        grid-template-columns: 1fr 4fr;
        justify-items: center;
        position: relative;
        overflow: hidden;

        .line {
          opacity: 0;
          width: 3px;
          background: linear-gradient(#d2a8ff, #a371f7 10%, #196c2e 70%, #2ea043 80%, #56d364);
          height: 400px;
          overflow: hidden;
          animation: animateBack 1s;

          &.pink {
            background: linear-gradient(#fff, #f70b91 20%, #f70b91 80%, white);
          }

          &.purple {
            background: linear-gradient(white, #a371f7 20%, #a371f7 80%, white);
          }

          &.yellow {
            background: linear-gradient(white, #fec303 20%, #fec303 80%, white);
          }

          &.orange {
            background: linear-gradient(white, #fa7043 20%, #fa7043 80%, white);
          }

          &.red {
            background: linear-gradient(white, #f94167 20%, #f94167 80%, white);
          }

          &.active {
            opacity: 1;
            animation: animate 1s;
          }
        }

        .info {
          width: 100%;
          height: 100%;
          display: inline-block;
          font-size: 40px;
          font-weight: 400;
          line-height: 0.9;
          opacity: 0;

          &.active {
            opacity: 1;
            animation: textRight 1s;
          }

          span {
            color: #fec303;
            font-weight: 600;
          }

          ul {
            text-decoration: none;
            font-size: 32px;
            list-style: none;
            line-height: normal;
            margin: 0;

            li {
              margin-bottom: 5px;
            }
          }
        }

        &.right {
          grid-template-columns: 4fr 1fr;

          .info {
            text-align: right;
          }
        }
      }
    }
  }
}

@keyframes viewImg {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animateBack {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(-500px);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(-500px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes textRight {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 1400px) {
  .wrapper {
    .container {
      background-position-x: 0px;

      h1 {
        margin-top: 70px;
        margin-bottom: 0px;
        font-size: 80px;
      }

      h2 {
        width: 100%;
        font-size: 20px;
      }

      .rightPanel {
        align-items: flex-start;

        h2 {
          text-align: left;
        }
      }

      button {
        width: 250px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    .container {
      background-position-x: 0px;
      width: 95%;

      h1 {
        margin-top: 70px;
        margin-bottom: 0px;
        font-size: 76px;
      }

      h2 {
        width: 100%;
        font-size: 20px;
      }

      button {
        width: 250px;
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-content {
    background-color: #170034;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    color: white;

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        margin: 0;
        color: white;
      }

      .modal-close {
        cursor: pointer;
        font-size: 24px;
      }
    }

    .modal-status {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-size: 24px;
        margin: 5px;
        color: #c6c6c6;
        font-family: 'Bruno Ace SC';
      }

      .ticketInfo {
        font-size: 20px;
        font-family: 'Montserrat';
      }
    }
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
