.inputBlock {
}

$primary: #fec303;
$secondary: #f70b91;
$white: #fff;
$gray: #9b9b9b;

.input__data {
  color: $gray;
  position: relative;
  width: 60%;
  margin-bottom: 40px;
  font-size: 14pt;
  text-indent: 0;
  font-family: Arial, Helvetica, sans-serif;

  &.datetime-local {
    width: auto;

    input {
      cursor: pointer;
      color: $gray;
    }

    i {
      display: none;
    }

    span {
      display: none;
    }
  }

  &.reset,
  &.submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    input {
      width: 200px;
      border: 1px solid $secondary;
      border-radius: 10px;
      cursor: pointer;
      color: $white;
      transition: all 0.3s;

      &:hover {
        background: #f70b91;
      }
    }

    i {
      display: none;
    }

    span {
      display: none;
    }
  }

  input {
    width: 100%;
    background: transparent;
    color: $gray;
    border: none;
    outline: none;
    box-shadow: 0;
    font-size: 15pt;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    padding: 10px 0 5px;
    font-family: Arial, Helvetica, sans-serif;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
      -webkit-appearance: none;
    }

    &:-webkit-autofill {
      -webkit-text-fill-color: $gray;
      -webkit-box-shadow: 0 0 0px 1000px transparent inset;
      transition: background-color 5000s ease-in-out 0s;
      background: -webkit-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 174, 255, 0.04) 50%,
        rgba(255, 255, 255, 0) 51%,
        rgba(0, 174, 255, 0.03) 100%
      );
    }

    &:valid ~ span,
    &:focus ~ span {
      color: $primary;
      transform: translateY(-20px);
      font-size: 0.65em;
    }

    &:valid ~ i::before,
    &:focus ~ i::before {
      left: 0;
    }
  }

  span {
    position: absolute;
    left: 0;
    font-size: 10pt;
    padding: 10px 0 5px;
    color: $gray;
    text-transform: uppercase;
    pointer-events: none;
    letter-spacing: 0.1em;
    transition: 0.5s ease;
  }

  i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: $gray;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      left: -100%;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, $primary, $secondary);
    }
  }
}
